<%- model_class = Student -%>

<h3>
  <% if current_user.id == 1 %>
      <% a = "管理员" %>
  <% else %>
      <% a = "老师" %>
  <% end %>
  <%= "当前用户：#{current_user.email} (#{a})" %>
</h3>
<div class="well">
  <div class="page-header">
    <h1>学生列表</h1>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>姓名</th>
      <th><%= model_class.human_attribute_name(:年龄) %></th>
      <th><%= model_class.human_attribute_name(:分数) %></th>
      <th><%= model_class.human_attribute_name(:创建时间) %></th>
      <th><%= t '.actions', :default => t("helpers.操作") %></th>
    </tr>
    </thead>

    <tbody>
    <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.id, student_path(student) %></td>
          <td><%= student.name %></td>
          <td><%= student.age %></td>
          <td><%= student.score %></td>
          <td><%= l student.created_at %></td>
          <td>
            <% if current_user.id == 1 %>
                <%= link_to t('.show', :default => t("helpers.links.展示")),
                            student_path(student), :class => 'btn btn-default btn-xs' %>
            <% end %>

            <% if current_user.id == 1 %>
                <%= link_to t('.edit', :default => t("helpers.links.编辑")),
                            edit_student_path(student), :class => 'btn btn-default btn-xs' %>
            <% end %>

            <%= link_to t('.destroy', :default => t("helpers.links.删除")),
                        student_path(student),
                        :method => :delete,
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '确定删除?'))},
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @students, renderer: BootstrapPagination::Rails %>
</div>


<%= link_to t('新建', :default => t("helpers.links.新建")),
            new_student_path(home_id: params[:query]),
            :class => 'btn btn-primary' %>

<%= link_to t('返回', :default => t("helpers.links.返回")), homes_path,
            :class => 'btn btn-primary' %>
