<%- model_class = Home -%>
<div class="page-header">
  <h1><%= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= form_for @home, :html => {:class => "form-horizontal home"} do |f| %>

    <% if @home.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@hone.errors.count, "error") %> prohibited this home from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @home.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
    <h3>已有老师列表</h3>
    <table>
      <thead>
      <tr>
        <th>老师编号|</th>
        <th>老师邮箱|</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% User.all.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <h4><%= "须移动班级：#{@home.name} (#{@home.id})" %></h4>
    <table>
      <thead>
      <tr>
        <th>老师编号|</th>
        <th>老师邮箱|</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @home.users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="form-group">
      <%= f.label :添加老师编号, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :append, :class => 'form-control' %>
      </div>
      <%= f.error_span(:append) %>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.返回")),
                    homes_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>

