<p id="notice"><%= notice %></p>
<h3>
  <% if current_user.id == 1 %>
      <% a = "管理员" %>
  <% else %>
      <% a = "老师" %>
  <% end %>
  <%= "当前用户：#{current_user.email} (#{a})" %>
</h3>

<br>


<div class="well">
  <h1>班级列表</h1>
  <table>
    <thead>
    <tr>
      <th>班级编号|</th>
      <th>班级名称|</th>
      <th>班级评分|</th>
      <th>班级口号|</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @homes.each do |home| %>
        <tr>
          <td><%= link_to home.id, home_path(home) %></td>
          <td><%= link_to home.name, students_path(query: "#{home.id}") %></td>
          <td><%= home.score %></td>
          <td><%= home.description %></td>
          <td><%= link_to (t 'show'), home %></td>
          <td>
            <% if current_user.id == 1 %>
                <%= link_to (t 'edit'), edit_home_path(home) %>
            <% end %>
          </td>
          <td>
            <% if current_user.id == 1 %>
                <%= link_to (t 'destroy'), home, method: :delete, data: {confirm: '确定删除？'} %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @homes, renderer: BootstrapPagination::Rails %>
</div>



<%= link_to t('new_memo'), new_home_path %>

